* {
    box-sizing: border-box;
}

body {
    background:url("/wild/img/bg.png");
    max-width:960px;
    margin:0 auto;
}

header,footer,
article,section,
hgroup,nav,
figure{
    display:block;
}

header {
    background: #2a351a;
    color: #bc9e79;
    padding: 0.5em 1em ;  
}

header h1{
    color: #b18c60;
}

header h2{
    color: #dfaf74;
}

nav>a{
    display: inline-block;
    color: #99BEB9;
    background-color: #213E4A;
    padding: 0.5em 2em;
    margin-right: 0.2em;
    font-weight: bolder;
    line-height: 15px;
    font-size: 15px;
}

article::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .80; 
    z-index: -1;
    background-color: #BBE1B5;
}

section::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .75; 
    z-index: -1;
    background-color: #7e3b10;
  }





#parts{
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    grid-gap: 0.2em;
}

#parts article {
    position: relative;
    margin: 0.2em;
}

#parts article h2{
    color: #bc9e79;
    position: absolute;
    font-size: 1em;
    top: 0.2em; 
    right: 0.2em;
}

#parts article h1{
    width: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    color: #e9e6dd;
}

#parts article .contact{
    width: 100%;
    text-align: end;
}


#parts article h1{
    background-color: #3a6607;
}

#parts article  .contact{
    background: #3a6607aa;
}



#parts article .reh h1{ 
    background-color: #662d07;
}

#parts article .reh .contact{
    background: #662d07aa;
}

#parts article .ws h1{
    background-color: #2e1702;
}

#parts article .ws .contact{
    background: #2e1702aa;
}


#parts article .honey h1{
    background-color: #bdb945;
}

#parts article .honey .contact{
    background: #bdb945aa;
}





/* Footer styling: */

footer{
    background-color:#2a351a;
    color: #e9e6dd;
    margin-bottom:2em;
    text-align:right;
    font-size:0.825em;
}

a.whatsapp{
    color: #25D366;
}

a:hover.whatsapp{
    color: #128C7E;
}

a.mail{
    color: #7e3b10;
}

a:hover.mail{
    color: #522408;
}